<mat-card class="parent" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            {{ parent.name }} {{ parent.middleName }} {{ parent.surname }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ parent.username }}    
    </mat-card-content>
    <mat-card-content>
        {{ parent.email }}
    </mat-card-content>
    <mat-card-actions *ngIf="isAuthorized()">
        <div class="button-row">
        <button *ngIf="isAuthorizedToUpdate()" mat-flat-button color="primary" (click)="updateParent()">Update Parent</button>
        <button *ngIf="isAuthorizedToDelete()" mat-flat-button color="accent" (click)="deleteParent()">Delete Parent</button>
        </div>
    </mat-card-actions>

    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="getChildren()">Children</button>
    </mat-card-actions>
</mat-card>