<form class="form-container" [formGroup]="headmasterForm">
    <h1>Update Headmaster</h1>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" class="form-control" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" class="form-control" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput formControlName="surname" class="form-control" required>
    </mat-form-field>

    <!-- <mat-form-field>
        <mat-label>National Id Number</mat-label>
        <input matInput formControlName="nationalIdNumber" class="form-control" required>
    </mat-form-field> -->

    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" class="form-control" required>
    </mat-form-field>

    <!-- <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" class="form-control" required>
    </mat-form-field> -->

    <button mat-flat-button color="primary" [disabled]="!headmasterForm.valid || headmasterForm.pristine" (click)="updateHeadmaster()">Update</button>
</form>