<mat-card class="student" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            {{ student.name }} {{ student.middleName }} {{ student.surname }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ student.username }}    
    </mat-card-content>
    <mat-card-content>
        {{ student.email }}
    </mat-card-content>
    <mat-card-actions>
        <div class="button-row">
        <button mat-flat-button color="primary" (click)="updateStudent()">Update Student</button>
        <button mat-flat-button color="accent" (click)="deleteStudent()">Delete Student</button>
        </div>
    </mat-card-actions>

    <mat-card-actions>
        <div class="button-row">
        <button mat-flat-button color="primary" (click)="getMarks()">Marks</button>
        <button mat-flat-button color="primary" (click)="getRemarks()">Remarks</button>
        <button mat-flat-button color="primary" (click)="getAbsences()">Absences</button>
        </div>
    </mat-card-actions>
</mat-card>