<mat-card class="student" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            {{ student.name }} {{ student.middleName }} {{ student.surname }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Username: {{ student.username }}    
    </mat-card-content>
    <mat-card-content>
        Email: {{ student.email }}
    </mat-card-content>

    <mat-card-content>
        School: {{ student.school?.name || '' }}
    </mat-card-content>

    <mat-card-content>
        School Class: {{ student.schoolClass?.year || '' }} {{ student.schoolClass?.group || '' }}
    </mat-card-content>

    <mat-card-actions *ngIf="isAuthorized()">
        <div class="button-row">
        <button *ngIf="isAuthorizedToUpdate()" mat-flat-button color="primary" (click)="updateStudent()">Update Student</button>
        <button *ngIf="isAuthorizedToDelete()" mat-flat-button color="accent" (click)="deleteStudent()">Delete Student</button>
        </div>
    </mat-card-actions>

    <mat-card-actions>
        <div class="button-row">
        <button mat-flat-button color="primary" (click)="getMarks()">Marks</button>
        <button mat-flat-button color="primary" (click)="getRemarks()">Remarks</button>
        <button mat-flat-button color="primary" (click)="getAbsences()">Absences</button>
        </div>
    </mat-card-actions>

    <mat-card-actions>
        <div class="button-row">
        <button *ngIf="isAuthorizedToAddParents()" mat-flat-button color="primary" (click)="addParents()">Add Parents</button>
        <button mat-flat-button color="primary" (click)="getParents()">Parents</button>
        </div>
    </mat-card-actions>
</mat-card>