.statistics-section {
    margin-top: 2rem;
  }
  
  .stats-table {
    width: 100%;
    margin: 1rem 0 2rem 0;
  }
  
  th, td {
    padding: 8px;
  }
  
  h2 {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.4rem;
  }
  
  .info-message {
    margin: 2rem 0;
    color: #757575;
    font-style: italic;
    text-align: center;
  }
  