<form class="form-container" [formGroup]="subjectForm">
    <h1>Update Subject</h1>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" class="form-control" required>
        <mat-error *ngIf="subjectForm.get('name')?.hasError('required') && subjectForm.get('name')?.touched">
            Name is required
        </mat-error>
        <mat-error *ngIf="subjectForm.get('name')?.hasError('minlength') && subjectForm.get('name')?.touched">
            Name must be at least 3 characters long
        </mat-error>
        <mat-error *ngIf="subjectForm.get('name')?.hasError('maxlength') && subjectForm.get('name')?.touched">
            Name cannot be more than 32 characters
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Semester</mat-label>
        <mat-select formControlName="semester">
            <mat-option *ngFor="let semester of semesters" [value]="semester">
                {{ semester }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field >
        <mat-label>Teacher</mat-label>
        <mat-select formControlName="teacher">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
                {{ teacher.name }} {{ teacher.surname }} {{ teacher.username }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="!subjectForm.valid" (click)="updateSubject()">Update</button>
</form>