<form class="form-container" [formGroup]="parentForm">
    <h1>Update Parent</h1>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" class="form-control" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" class="form-control" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput formControlName="surname" class="form-control" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" class="form-control" required>
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="!parentForm.valid || parentForm.pristine" (click)="updateParent()">Update</button>
</form>