<mat-card class="school" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            {{ school.name }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>{{ school.city }}</mat-card-content>

    <mat-card-actions *ngIf="hasHeadmaster()">
        <button mat-flat-button color="primary" (click)="getHeadmaster()">Headmaster</button>
    </mat-card-actions>

    <mat-card-actions *ngIf="isAuthorizedToAddHeadmaster()">
        <button mat-flat-button color="primary" (click)="addHeadmaster()">Add Headmaster</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="isAuthorizedToModifySchool()">
        <div class="button-row">
        <button mat-flat-button color="primary" (click)="updateSchool()">Update School</button>
        <button mat-flat-button color="accent" (click)="deleteSchool()">Delete School</button>
        </div>
    </mat-card-actions>
    <mat-card-actions *ngIf="isAuthorizedToModifySchool()">
        <div class="button-row">
        <button mat-flat-button color="primary" (click)="createGrade()">Create Grade</button>
        <button mat-flat-button color="primary" (click)="getGrades()">View Grades</button>
        </div>
    </mat-card-actions>

    <mat-card-actions>
        <div class="button-row">
        <button *ngIf="isAuthorizedToAddTeachersOrStudents()" mat-flat-button color="primary" (click)="addStudents()">Add Students</button>
        <button mat-flat-button color="primary" (click)="getStudents()">Students</button>
        </div>
    </mat-card-actions>

    <mat-card-actions>
        <div class="button-row">
        <button *ngIf="isAuthorizedToAddTeachersOrStudents()" mat-flat-button color="primary" (click)="addTeachers()">Add Teachers</button>
        <button mat-flat-button color="primary" (click)="getTeachers()">Teachers</button>
        </div>
    </mat-card-actions>
</mat-card>