<form class="form-container" [formGroup]="remarkForm">
    <h1>Create Remark</h1>

    <mat-form-field >
        <mat-label>Student</mat-label>
        <mat-select formControlName="student">
            <mat-option *ngFor="let student of students" [value]="student.id">
                {{ student.name }} {{ student.surname }} {{ student.username }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Heading</mat-label>
        <input matInput formControlName="heading" class="form-control" required>
        <mat-error *ngIf="remarkForm.get('heading')?.hasError('required') && remarkForm.get('heading')?.touched">
            Heading is required
        </mat-error>
        <mat-error *ngIf="remarkForm.get('heading')?.hasError('minlength') && remarkForm.get('heading')?.touched">
            Heading must be at least 3 characters long
        </mat-error>
        <mat-error *ngIf="remarkForm.get('heading')?.hasError('maxlength') && remarkForm.get('heading')?.touched">
            Heading cannot be more than 64 characters
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Body</mat-label>
        <input matInput formControlName="body" class="form-control">
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="!remarkForm.valid" (click)="createRemark()">Create</button>
</form>